@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #fff;
    background-color: #202020;
    padding: 50px;
}

body .container {
    max-width: 1000px;
}

body .container .navbar {
    justify-content: center;
    display: inline-flex;
    background-color: #202020;
    font-size: 1.2rem;
    border-radius: 0.2cm;
}

body .container .navbar a {
    margin: 4px;
    padding-left: 30px;
    padding-right: 30px;
}

body .container .navbar a:hover {
    background-color: #181818;
    margin: 2px;
    border-radius: 0.2cm;
}

body .container .navbar a:focus {
    background-color: #181818;
    margin: 2px;
    border-radius: 0.2cm;
}

body .container header {
    background: url(cover.png) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: 20px 100px 45px;
    border-radius: 16px;
}

body .container header .category {
    font-size: 1.2 rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-top: 8px;
}

body .container header .info {
    margin-top: 120px;
    text-align: center;
}

body .container header .info .tag i {
    font-size: 18px;
    margin-right: 4px;
}

body .container header .info .tag span {
    margin-top: 50px;
    font-size: 0.8rem;
}

body .container header .info .title {
    margin-top: 5px;
    margin-bottom: 12px;
    margin-right: 12px;
    font-size: 1.3rem;
    font-weight: bold;
}

body .container header .info button {
    background-color: #181818;
    border-width: 0.5px;
    font-size : 1.2rem;
    border-radius: 10px;
    border: 3px solid #181818;
}

body .container header .info button:hover {
    background-color: #202020;
}

body .container header .info button h3 {
    margin: 2px;
    padding: 2px;
    color: #fff;
}

body .container header .category a {
    color: #202020;
    font-weight: bold;
    font-style: inherit;
    font-size: 1.3rem;
}


body .container article button {
    background-color: #181818;
    font-size : 1.2rem;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #181818;
    margin-left: 450px;
    box-shadow: 0 5px 5px rgba(75, 75, 75, 0.2);
}

body .container article button h3 {
    margin: 2px;
    padding: 2px;
    color: #fff;
}

body .container article button:hover {
    background-color: #202020;
}

body .container header .info .subtitle {
    min-width: 70%;
    margin: 0 auto 28px;
    font-size: 1rem;
}

.popup{
    margin-top: 50px;
    padding-bottom: 20px;
    line-height: 1.70;
}

body article h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

body article p {
    margin-bottom: 20px;
    color: #999;
    font-size: 1.1rem;
}

body article blockquote {
    margin: 40px 0;
    background-color: #181818;
    padding: 30px;
    border-radius: 16px;
}

body .container .aboutMePage {
    margin-top: 10px;
    padding-bottom: 20px;
    line-height: 1.70;
}

body .container .aboutMePage h1{
    text-align: center;
    margin: 10px;
}

body .container .aboutMePage button {
    background-color: #181818;
    font-size : 1.2rem;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #181818;
    margin-left: 450px;
    box-shadow: 0 5px 5px rgba(75, 75, 75, 0.2);
}

body .container .aboutMePage button h3 {
    margin: 2px;
    padding: 2px;
    color: #fff;
}

body .container .aboutMePage button:hover {
    background-color: #202020;
}

body .container .projectsPage {
    margin-top: 10px;
    padding-bottom: 20px;
    line-height: 1.70;
}

body .container .projectsPage h1 {
    text-align: center;
    margin: 10px;
}

body .container .projectsPage li {
    font-size: 1.2rem;
    margin: 10px;
    margin-top: 20px;
}

body .container .projectsPage h6 {
    font-size: 1.03rem;
    margin: 5px;
}

body .container .projectsPage p {
    margin: 5px;
}

body .container .projectsPage a {
    text-decoration:dotted;
    background-color:#999;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
}

body .container .projectsPage a:hover {
    background-color:#dadada;
    padding: 6px;
    margin: 10px;
}

body .container .projectsPage button {
    background-color: #181818;
    font-size : 1.2rem;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #181818;
    margin-left: 450px;
    box-shadow: 0 5px 5px rgba(75, 75, 75, 0.2);
}

body .container .projectsPage button h3 {
    margin: 2px;
    padding: 2px;
    color: #fff;
}

body .container .projectsPage button:hover {
    background-color: #202020;
}


@media screen and (max-width: 768px) {
    body .container header {
        padding: 10px 20px 30px;
        min-height: 300px;
    }

    body .container header .category {
        font-size: 0.9rem;
    }

    body .container header .info .title {
        font-size: 2.2rem;
    }

    body .container header .info .subtitle {
        font-size: 0.8rem;
    }

    body .container .details {
        flex-direction: column;
    }

    body .container .details .item:not(:last-child) {
        margin-bottom: 30px;
    }
}
